/*-----------------------
* Site:  data-uploading
* Author: 7*
* Updated: 2019-06-19 09:19
* Version: 1.0.0
* -----------------------*/
@charset "UTF-8";
/*----------------icon-font-----------------*/
@font-face {
  font-family: 'iconfont';
  /* project id 1244588 */
  src: url("//at.alicdn.com/t/font_1244588_i56d58dolx.eot");
  src: url("//at.alicdn.com/t/font_1244588_i56d58dolx.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1244588_i56d58dolx.woff2") format("woff2"), url("//at.alicdn.com/t/font_1244588_i56d58dolx.woff") format("woff"), url("//at.alicdn.com/t/font_1244588_i56d58dolx.ttf") format("truetype"), url("//at.alicdn.com/t/font_1244588_i56d58dolx.svg#iconfont") format("svg"); }

[class^='icon-'],
[class*=' icon-'],
.iconfont,
.icon {
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: 0.2px; }

.hover-up {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
  .hover-up:hover {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }

.block-shadow-primary:hover {
  -webkit-box-shadow: 0 10px 20px rgba(255, 225, 0, 0.3);
          box-shadow: 0 10px 20px rgba(255, 225, 0, 0.3); }

.color-primary {
  color: #ffe100; }

.bg-gray {
  background-color: #f5f5f5; }

.bold {
  font-weight: bold; }

.gray {
  color: #9b9b9b; }

.fn-hide {
  display: none !important; }

.fn-show {
  display: block !important; }

/* 清理浮动 */
.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.fn-clear {
  zoom: 1;
  /* for IE6 IE7 */ }

.fn-left {
  float: left; }

.fn-right {
  float: right; }

/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* 人民币符号 */
.fn-rmb {
  font-family: arial;
  font-style: normal;
  padding-right: 4px; }

/* chrome 下字体过小的问题 */
.fn-webkit-adjust {
  -webkit-text-size-adjust: none; }

/*----7*--2015.11.20-update----*/
.fn-overflow {
  overflow: hidden; }

.w-100 {
  width: 100%; }

.fn-text-left {
  text-align: left; }

.fn-text-center {
  text-align: center; }

.fn-text-right {
  text-align: right; }

.fn-block {
  display: block; }

.red {
  color: #bd0505; }

.ml10 {
  margin-left: 10px; }

.mr20 {
  margin-right: 20px; }

.mr14 {
  margin-right: 14px; }

.fn-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.fn-fade-up {
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translateY(50px);
  opacity: 0; }

.fn-fade-up.show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); }

.fn-delay-04 {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.fn-delay-55 {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s; }

.radius-5 {
  border-radius: 5px; }

.show-round {
  border-radius: 50%; }

.ml-20 {
  margin-left: 20px; }

.transition-02, .hover-up {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.transition-35 {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.transition-05 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.transition-1 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); }

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
* {
  margin: 0;
  padding: 0; }

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* HTML5 媒体文件跟 img 保持一致 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* 要注意表单元素并不继承父级 font 的问题 */
body,
button,
select
input,
textarea {
  font-style: normal;
  font-size: 16px;
  font-family: \5FAE\8F6F\96C5\9ED1, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, tahoma, arial, "Hiragino Sans GB", \5b8b\4f53, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333; }

input,
select,
textarea {
  font-size: 100%; }

/* 去掉各Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit; }

/* 去除默认边框 */
fieldset,
img {
  border: 0; }

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block; }

/* 去掉 firefox 下此元素的边框 */
abbr,
acronym {
  border: 0;
  font-variant: normal; }

/* 一致的 del 样式 */
del {
  text-decoration: line-through; }

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500; }

/* 去掉列表前的标识, li 会继承 */
ol,
ul {
  list-style: none; }

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left; }

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500; }

q:before,
q:after {
  content: ''; }

/* 统一上标和下标 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a {
  cursor: pointer; }

/* 正常链接 未访问 */
a:link {
  text-decoration: none; }

/* 鼠标悬停 */
a:hover {
  text-decoration: none;
  color: #f0c238; }

/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none; }

/* 代码字体 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
  display: none; }

/* a链接去掉点击时候的虚线*/
a,
button,
input {
  text-decoration: none;
  outline: none;
  /*ff*/
  hide-focus: expression(this.hideFocus=true);
  /*ie*/ }

/*初始化系统默认样式*/
i,
em {
  font-style: normal; }

input,
select,
textarea {
  vertical-align: middle;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  font-family: \5FAE\8F6F\96C5\9ED1, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, tahoma, arial, "Hiragino Sans GB", \5b8b\4f53, sans-serif;
  color: #333; }

*,
*:after,
*::before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* 清除浏览器默认行为 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; }

a,
button {
  -webkit-user-select: none; }

input[type=tel],
input[type=number],
input[type=password],
input[type=date] {
  font-family: tahoma, arial, "Hiragino Sans GB", \5b8b\4f53, sans-serif; }

/*input[type="date"]:before {
    content: attr(placeholder);
    color:#c7c7c7;width: 100%;
    text-align: center;
}*/
body {
  margin: 0 auto;
  width: 100%;
  min-height: 100%; }

a {
  color: #22A4F0; }

a:hover {
  text-decoration: none; }

/*------often-used-------*/
body.gray {
  background-color: #f6f6f6; }

body.fix {
  padding-bottom: 120px;
  height: auto; }

body.fix-default {
  padding-bottom: 80px;
  height: auto; }

body.overflow {
  overflow: hidden; }

.main {
  width: 100%; }

.main-container {
  width: 100%;
  padding: 0 80px;
  min-height: calc(100vh - 134px); }

.main-wrapper {
  width: 100%;
  margin: 0 auto; }

.uploading-container {
  width: 100%;
  background-color: #f3f7f8;
  position: relative; }
  .uploading-container .title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff; }
    .uploading-container .title-wrap .title {
      font-size: 14px;
      color: #22A4F0;
      margin-left: 32px;
      position: relative;
      line-height: 40px;
      cursor: default;}
      .uploading-container .title-wrap .title.gray {
        color: #686868;
        cursor: pointer;}
      .uploading-container .title-wrap  > li.active > a:focus{background:#22A4F0; border:1px solid #ff9600}
      .uploading-container .title-wrap  > li.active > a, .title-wrap > li.active > a:hover{background:#ff9600;border:1px solid #ff9600}
      .uploading-container .title-wrap .title em {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 3px;
        background-color: #22A4F0;
        bottom: -1px;
        left: 0; }
  .uploading-container .middle-wrap {
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    padding-left: 50px;
    padding-top: 48px; }
    .uploading-container .middle-wrap .middle-select {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 20px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #989898; }
      .uploading-container .middle-wrap .middle-select .type {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 76px;
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        margin-right: 14px; }
      .uploading-container .middle-wrap .middle-select .radioself {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer; }
      .uploading-container .middle-wrap .middle-select .circle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 14px;
        height: 14px;
        border: 1px solid #989898;
        border-radius: 8px;
        margin: 0 14px; }
        .uploading-container .middle-wrap .middle-select .circle.blue {
          border: 1px solid #007fff; }
          .uploading-container .middle-wrap .middle-select .circle.blue .cir {
            background-color: #007fff; }
        .uploading-container .middle-wrap .middle-select .circle .cir {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background-color: #fff; }
      .uploading-container .middle-wrap .middle-select .name {
        font-size: 12px; }
    .uploading-container .middle-wrap .writer-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
      margin-top: 26px; }
      .uploading-container .middle-wrap .writer-block input {
        width: 480px;
        height: 22px;
        font-size: 100%;
        padding-left: 10px;
        background: #ffffff;
        outline: none;
        border: 1px solid #e4e4e5;
        border-radius: 4px;}
        .uploading-container .middle-wrap .writer-block input::-webkit-input-placeholder {
          opacity: 1; }
      .uploading-container .middle-wrap .writer-block .m-wrap {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        font-size: 50%;
        padding-left: 10px;
        outline: none;
        border-radius: 4px;
        color: #333333;
        width: 326px;
        height: 36px;
        background-color: #ffffff;
        background-image: none !important;
        -webkit-filter: none !important;
                filter: none !important;
        border: 1px solid #e5e5e5;
        overflow: hidden; }
    .uploading-container .middle-wrap .writer-block-summary {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      margin-top: 26px; }
    .uploading-container .middle-wrap .required-summary {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 480px;
      height: 120px; }
    .uploading-container .middle-wrap .required-summary textarea{
      width: 480px;
      font-size: 14px;
      padding: 6px 12px;
      background: #ffffff;
      outline: none;
      border: 1px solid #ccc;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .uploading-container .middle-wrap .required-summary .import {
      width: 96px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 16px;
      border: 1px solid #e4e4e5;
      border-right: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .uploading-container .middle-wrap .writer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 76px;
      margin-right: 14px;
      font-size: 16px;
      font-weight: bold;
      color: #333333; }
    .uploading-container .middle-wrap .required {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 480px;
      height: 36px; }
      .uploading-container .middle-wrap .required input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
      .uploading-container .middle-wrap .required .import {
        width: 96px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 16px;
        border: 1px solid #e4e4e5;
        border-right: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
    .uploading-container .middle-wrap .paper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 118px;
      height: 38px;
      font-size: 16px;
      margin-left: 18px;
      background-color: #22a4f0;
      border-radius: 20px;
      color: #ffffff;
      cursor: pointer; }
    .uploading-container .middle-wrap .uploading {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 118px;
      height: 38px;
      font-size: 16px;
      margin-left: 100px;
      /*background-color: #999999;*/
      background-color: #22a4f0;
      border-radius: 20px;
      color: #ffffff;
      cursor: pointer; }
  .uploading-container .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 26px; }
    .uploading-container .copyright .notice {
      font-size: 14px;
      color: #22A4F0; }
.uploading-container .async_area {
  position: absolute;
  background: #fff;
  max-width: 400px;
  width: 90%;
  margin-left: 3px;
  margin-top: -2px;
  padding: 1px;
  border: #ddd 1px solid;
  border-top: 0;
  overflow: hidden;
  display: none;
}
.uploading-container .async_area ul li {
  cursor: pointer;
  padding: 14px 10px;
  border: 1px solid #eaeaea;
  position: relative;
  margin-bottom: -1px;
  margin-left: -1px;
  height: 30px;
  line-height: 30px;
  color: #aaa;
  font-size: 14px;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  left: 0; }
  .modal .modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 750px;
    height: 278px;
    background-color: #ffffff;
    padding: 34px 0; }
    .modal .modal-content .modal-hint {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
      .modal .modal-content .modal-hint .icon {
        font-size: 78px; }
      .modal .modal-content .modal-hint .green {
        color: #36c626; }
      .modal .modal-content .modal-hint .pink {
        color: #fa5a5d; }
      .modal .modal-content .modal-hint .red {
        color: #be0010; }
      .modal .modal-content .modal-hint .hint {
        font-size: 24px; }
      .modal .modal-content .modal-hint .modal-btn {
        width: 300px;
        height: 56px;
        margin: 0;
        padding: 0;
        outline: none;
        border: 1px solid #d6d6d6;
        background-color: #ffffff;
        cursor: pointer;
        color: #22A4F0;
        font-size: 20px; }
