<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>BaiNIU</title>
		<meta name="description" content="这是一个form页面">
		<meta name="keywords" content="form">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="icon" type="image/png" href="assets/i/favicon.png">
		<link rel="apple-touch-icon-precomposed"
			href="assets/i/app-icon72x72@2x.png">
		<meta name="apple-mobile-web-app-title" content="Amaze UI" />
		<link rel="stylesheet" href="biz/assets/css/amazeui.min.css" />
		<link rel="stylesheet" href="biz/assets/css/admin.css">
	</head>
	<body>
		<header class="am-topbar admin-header">
		<div class="am-topbar-brand">
			<strong>Bainiu</strong>
			<small>摆牛知识库 涨姿势的平台</small>
		</div>

		<button
			class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
			data-am-collapse="{target: '#topbar-collapse'}">
			<span class="am-sr-only">导航切换</span>
			<span class="am-icon-bars"></span>
		</button>

		<div class="am-collapse am-topbar-collapse" id="topbar-collapse">

			<ul
				class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
				<li>
					<a href="javascript:;"><span class="am-icon-envelope-o"></span>
						收件箱 <span class="am-badge am-badge-warning">5</span> </a>
				</li>
				<li>
					<a href="javascript:;"><span class="am-icon-user"></span>
						登陆  </a>
				</li>
				<li class="am-dropdown" data-am-dropdown>
					<a class="am-dropdown-toggle" data-am-dropdown-toggle
						href="javascript:;"> <span class="am-icon-users"></span> 个人信息
						<span class="am-icon-caret-down"></span> </a>
					<ul class="am-dropdown-content">
						<li>
							<a href="#"><span class="am-icon-user"></span> 资料</a>
						</li>
						<li>
							<a href="#"><span class="am-icon-cog"></span> 设置</a>
						</li>
						<li>
							<a href="#"><span class="am-icon-power-off"></span> 退出</a>
						</li>
					</ul>
				</li>
				<li class="am-hide-sm-only">
					<a href="javascript:;" id="admin-fullscreen"><span
						class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span>
					</a>
				</li>
			</ul>
		</div>
		</header>
		<div class="am-cf admin-main">
			<!-- sidebar start -->
			<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
				<div class="am-offcanvas-bar admin-offcanvas-bar">
					<ul class="am-list admin-sidebar-list">
						<li>
							<a href="BainiuIndex.html"><span class="am-icon-home"></span>
								首页</a>
						</li>
						<li class="admin-parent">
							<a class="am-cf" data-am-collapse="{target: '#question-nav'}"><span
								class="am-icon-puzzle-piece"></span> 知识库管理 <span
								class="am-icon-angle-right am-fr am-margin-right"></span> </a>
							<ul class="am-list am-collapse admin-sidebar-sub am-in"
								id="question-nav">
								<li>
									<a href="admin-user.html" class="am-cf"> <span
										class="am-icon-plus-square"></span> 问题录入 <span
										class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span>
									</a>
								</li>
								<li>
									<a href="admin-help.html"><span
										class="am-icon-mortar-board"></span> 问题回答<span
										class="am-badge am-badge-secondary am-margin-right am-fr">24个待回答</span></a>
								</li>
								<li>
									<a href="admin-help.html"><span
										class="am-icon-mortar-board"></span> 沉淀审核<span
										class="am-badge am-badge-secondary am-margin-right am-fr">24个待审核</span></a>
								</li>
							</ul>
						</li>
						<li class="admin-parent">
							<a class="am-cf" data-am-collapse="{target: '#sysman-nav'}"><span
								class="am-icon-puzzle-piece"></span> 系统管理 <span
								class="am-icon-angle-right am-fr am-margin-right"></span> </a>
							<ul class="am-list am-collapse admin-sidebar-sub am-in"
								id="sysman-nav">
								<li>
									<a href="admin-user.html" class="am-cf"> <span
										class="am-icon-anchor"></span> 员工注册</span>
									</a>
								</li>
								<li>
									<a href="admin-help.html"><span
										class="am-icon-child"></span> 权限查询</a>
								</li>
								<li>
									<a href="admin-help.html"><span
										class="am-icon-area-chart"></span>报表统计</a>
								</li>
								
							</ul>
						</li>
						<li>
						<a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span
								class="am-icon-wrench"></span> 常用工具 <span
								class="am-icon-angle-right am-fr am-margin-right"></span> </a>
						</li>
						<li>
							<a href="admin-form.html"><span
								class="am-icon-pencil-square-o"></span> 表单</a>
						</li>
						<li>
							<a href="#"><span class="am-icon-sign-out"></span> 注销</a>
						</li>
					</ul>

					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<p>
								<span class="am-icon-bookmark"></span> 公告
							</p>
							<p>
								版本初期，你我共同成长。—— Bainiu
							</p>
						</div>
					</div>

					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<p>
								<span class="am-icon-tag"></span> 目前版本
							</p>
							<p>
								
                               V 0.1
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- sidebar end -->
			<!-- content start -->
			<div class="admin-content">

				<div class="am-cf am-padding">
					<div class="am-fl am-cf">
						<strong class="am-text-primary am-text-lg">知识库查询</strong> /
						<small>北六</small>
					</div>
				</div>

				<div class="am-g">
					<div class="am-u-sm-12 am-u-md-6">
					</div>
					<div class="am-u-sm-12 am-u-md-3">
						<div class="am-form-group">
							<select data-am-selected="{btnSize: 'sm'}">
								<option value="option1">
									所有类别
								</option>
								<option value="option1">
									err类
								</option>
								<option value="option3">
									业务类
								</option>
								<option value="option3">
									营业类
								</option>
								<option value="option3">
									接口类
								</option>
								<option value="option3">
									帐管类
								</option>
							</select>
						</div>
					</div>
					<div class="am-u-sm-12 am-u-md-9">
						<div class="am-input-group am-input-group-sm">
							<input type="text" class="am-form-field" id="keyWord">
							<span class="am-input-group-btn">
								<button class="am-btn am-btn-default" type="button" id="qry">
									搜索
								</button> </span>
						</div>
					</div>
				</div>

				<div class="am-g">
					<div class="am-u-sm-12">
						<form class="am-form">
							<table
								class="am-table am-table-striped am-table-hover table-main">
								<thead>
									<tr>
										<th class="table-title">
											错误描述
										</th>
									</tr>
								</thead>
								<tbody id="errList">
									
									{%#ERRLIST%}
									<tr>
										<td class="am-hide-sm-only" ex_id="{%.EX_ID%}">
											{%.EX_DESC%}
										</td>
									</tr>
									{%/ERRLIST%}
									
								</tbody>
							</table>
							<div class="am-cf">
								共 {%PAGINATION_COUNT%} 条记录
								<div class="am-fr">
									<ul class="am-pagination" id="paginations">
										<li class="am-disabled">
											<a pagIdex="0">«</a>
										</li>
										{%#PAGINATIONS%}
										<li>
											<a pagIdex="{%.ROW_INDEX%}">{%.ROW_INDEX%}</a>
										</li>
										{%/PAGINATIONS%}
										<li>
											<a >»</a>
										</li>
									</ul>
								</div>
							</div>
							<hr />
						</form>
					</div>

				</div>
			</div>
			<!-- content end -->
		</div>
		<script src="biz/assets/js/jquery.min.js"></script>
		<script src="biz/assets/js/amazeui.min.js"></script>
		<script src="biz/assets/js/app.js"></script>
		<script src="biz/ipu/res/jquery/1.10.2/jquery.js"></script>
		{%>template/common/Head.html%}
		<script type="text/javascript" src="biz/js/webjs/BainiuIndex.js"></script>
	</body>
<html>