<!DOCTYPE html>
<html>
  <head>
    <title>正在建设中</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
    <link rel="apple-touch-icon-precomposed" href="touch-icon-iphone.png" />
    <!--1，引入CSS文件 -->
    <link rel="stylesheet" href="biz/ipu/theme/hum.css">
  </head>
  <body>
  
  <header class="ui-toolbar"  id="header" >
      <a class="ui-icon icon-left-nav fn-left" href="javascript:;"></a>
      <button class="ui-toolbar-btn ui-btn-link fn-right">
        <span class="ui-icon icon-search"></span>
      </button>
      <h1 class="ui-toolbar-title">正在建设中</h1>
  </header>



  <div class="ui-panel-content">
    <div class="ui-alert">
        <p>正在建设中...</p>
    </div>
  </div>

   <script src="biz/ipu/res/jquery/1.10.2/jquery.js"></script>
   {%>template/common/Head.html%}
	<script type="text/javascript" src="biz/js/Building.js"></script>
  </body>
</html></html>

