<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>您尚未登陆，快进入登陆页面登陆吧！</h1>
	<i>此为测试工程，你可以在登陆页面输入任意用户名，和密码(或不输入)后登陆!</i><br /><br /><br />
	<input type="button" value="好的，我马上去登陆！" style="width:200px;height=100px;" id="go" >
	{%>template/common/Head.html%}
	<script type="text/javascript" src="biz/js/SessionErr.js"></script>
</body>
</html>