<!DOCTYPE html>
<html>
  <head>
    <title>立即分享</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
    <link rel="apple-touch-icon-precomposed" href="touch-icon-iphone.png" />
    <!--1，引入CSS文件 -->
    <link rel="stylesheet" href="biz/ipu/theme/hum.css">
  </head>
  <body>
  
  <header class="ui-toolbar"  id="header" >
      <a class="ui-icon icon-left-nav fn-left" href="javascript:;"></a>
      <button class="ui-toolbar-btn ui-btn-link fn-right">
        <span class="ui-icon icon-search"></span>
      </button>
      <h1 class="ui-toolbar-title">立即分享</h1>
  </header>




  <div id="tabWrap">
	  <div class="ui-panel" id="shareByBluetooth" >
	        <button class="ui-btn ui-btn-block">
			    <span class="ui-icon icon-gear"></span>
			    蓝牙分享
			</button>

	  </div>


	  <div class="ui-panel" id="shareByQQ" >
	        <a class="ui-btn ui-btn-block" href="javascript:;">
			    <span class="ui-icon icon-person"></span>
			    QQ分享
			</a>

	  </div>

	</div>

  <script src="biz/ipu/res/jquery/1.10.2/jquery.js"></script>
        {%>template/common/Head.html%}
	<script type="text/javascript" src="biz/js/Share.js"></script>
  </body>
</html></html>

