/*查询类*/
.e_bizIco-G3PaymentHistory:before        { content:"\e600"; color:#8fc320;}/*缴费历史查询*/
.e_bizIco-G3FreeResource:before          { content:"\e999"; color:#c37c20;}/*免费资源查询★已合并此功能至套餐余量查询★*/
.e_bizIco-G3QueryFeeRemain:before        { content:"\e609"; color:#c33f20;}/*话费余额查询*/
.e_bizIco-G3QueryCustInf:before          { content:"\e999"; color:#0085d0;}/*客户资料查询★此功能已移至侧栏★*/
.e_bizIco-G3QryOrderProduct:before       { content:"\e62b"; color:#e40077;}/*订购产品查询*/
.e_bizIco-G3QryBill:before               { content:"\e602"; color:#1ca98d;}/*账单查询*/
.e_bizIco-G3BlackList:before             { content:"\e62a"; color:#333333;}/*黑名单查询*/
.e_bizIco-G3Qryscore:before              { content:"\e629"; color:#c4a426;}/*积分\M值查询*/
.e_bizIco-G3QrySale:before               { content:"\e628"; color:#a64d9d;}/*营销活动查询*/
.e_bizIco-G3QryFamily:before             { content:"\e627"; color:#e69020;}/*亲情号码查询*/
.e_bizIco-G3Display:before               { content:"\e999"; color:#ef432c;}/*业务展示★已删除此蛋疼功能★*/
.e_bizIco-G3QryFee:before                { content:"\e601"; color:#a5af36;}/*实时话费*/
.e_bizIco-G3BusCount:before              { content:"\e626"; color:#8fc320;}/*业务统计*/
.e_bizIco-G3QryPUK:before                { content:"\e625"; color:#c37c20;}/*puk码查询*/
.e_bizIco-G3QryTerminalInventory:before  { content:"\e624"; color:#c33f20;}/*终端库存查询*/
.e_bizIco-G3GprsQry:before               { content:"\e999"; color:#0085d0;}/*数据流程查询★已合并此功能至套餐余量查询★*/
.e_bizIco-G3AgentRechargeDetails:before  { content:"\e623"; color:#e40077;}/*代理商缴费查询*/
.e_bizIco-G3SaleCard:before              { content:"\e622"; color:#1ca98d;}/*销售号卡查询*/
.e_bizIco-G3AgentFee:before              { content:"\e621"; color:#4489ac;}/*代理商余额查询*/
.e_bizIco-G3QryOverage:before            { content:"\e606"; color:#4489ac;}/*★套餐余量查询*/
/*办理类*/
.e_bizIco-G3Payment:before               { content:"\e608"; color:#8fc320;}/*营业缴费*/
.e_bizIco-G3MakeNewAccount:before        { content:"\e605"; color:#c37c20;}/*入网开户*/
.e_bizIco-G3ScoreExchange:before         { content:"\e620"; color:#c33f20;}/*积分M值兑换*/
.e_bizIco-G3ChangeProduct:before         { content:"\e603"; color:#0085d0;}/*产品变更*/
.e_bizIco-G3MonternetPortal:before       { content:"\e61f"; color:#e40077;}/*梦网查询*/
.e_bizIco-G3FamilyMember:before          { content:"\e61e"; color:#1ca98d;}/*家庭成员管理*/
.e_bizIco-G3Pick:before                  { content:"\e61d"; color:#4489ac;}/*号码预约*/
.e_bizIco-G3ServeOpenClose:before        { content:"\e61c"; color:#c4a426;}/*申请停开机*/
.e_bizIco-G3ChangePassword:before        { content:"\e999"; color:#a64d9d;}/*密码变更★简单业务放菜单页★*/
.e_bizIco-G3MarketActivity:before        { content:"\e607"; color:#e69020;}/*营销活动*/
.e_bizIco-G3BalanceReminder:before       { content:"\e999"; color:#ef432c;}/*余额提醒服务定制★简单业务放菜单页★*/
.e_bizIco-G3BillSender:before            { content:"\e999"; color:#a5af36;}/*账单寄送服务定制★简单业务放菜单页★*/
.e_bizIco-G3Vnet:before                  { content:"\e61b"; color:#8fc320;}/*校园V网*/
.e_bizIco-G3InterCruise:before           { content:"\e61a"; color:#c37c20;}/*国际漫游*/
.e_bizIco-G3BackOpenUser:before          { content:"\e619"; color:#c33f20;}/*返单开户*/
.e_bizIco-G3ReIssueCard:before           { content:"\e618"; color:#0085d0;}/*换卡*/
.e_bizIco-G3AoProductChange:before       { content:"\e999"; color:#e40077;}/*附加产品变更★合并至产品变更★*/
.e_bizIco-G3ChangeCard:before            { content:"\e618"; color:#1ca98d;}/*以卡换卡★同换卡（颜色会不一样）★*/
.e_bizIco-G3TerminalSale:before          { content:"\e62d"; color:#4489ac;}/*终端销售？？？*/
.e_bizIco-G3TerminalBack:before          { content:"\e617"; color:#c4a426;}/*终端返销*/
.e_bizIco-G3GoodsReceive:before          { content:"\e616"; color:#a64d9d;}/*货品领取*/
.e_bizIco-G3RealNameReg:before           { content:"\e62c"; color:#e69020;}/*实名登记？？？*/
.e_bizIco-G3AgentMarketActivity:before   { content:"\e607"; color:#ef432c;}/*代理商营销活动★同营销活动（颜色会不一样）★*/
.e_bizIco-G3BareMachineSale:before       { content:"\e615"; color:#a5af36;}/*裸机销售*/
.e_bizIco-G3ContractSale:before          { content:"\e604"; color:#8fc320;}/*合约计划销售*/
.e_bizIco-G3NewNetAcct:before            { content:"\e614"; color:#c37c20;}/*宽带开户业务*/
.e_bizIco-G3ChangeWidePassWord:before    { content:"\e613"; color:#c33f20;}/*宽带密码变更*/
.e_bizIco-G3TerminalInstock:before       { content:"\e612"; color:#0085d0;}/*终端入库*/
.e_bizIco-G3PaymentBuyBack:before        { content:"\e611"; color:#e40077;}/*缴费返销*/
.e_bizIco-G3AgentPayment:before          { content:"\e608"; color:#1ca98d;}/*代理商代缴费★同营业缴费★*/
.e_bizIco-G3BusinessRecommend:before     { content:"\e610"; color:#4489ac;}/*新业务推荐*/
/*管理类*/
.e_bizIco-G3ChannelWarning:before        { content:"\e60f"; color:#c4a426;}/*渠道预警*/
.e_bizIco-G3ChannelInformation:before    { content:"\e60e"; color:#a64d9d;}/*渠道信息查询*/
.e_bizIco-G3Remuneration:before          { content:"\e60d"; color:#e69020;}/*酬金查询*/
.e_bizIco-G3InformationCollection:before { content:"\e60c"; color:#ef432c;}/*信息采集*/
.e_bizIco-G3Inspection:before            { content:"\e60b"; color:#a5af36;}/*巡检管理*/
.e_bizIco-G3AmountOfPayment:before       { content:"\e60a"; color:#8fc320;}/*量酬查询*/