		<style type="text/css">
		.footer{/*position:absolute; */color:#999; width:100%; line-height:150%; border-top:1px solid #ddd; padding-top:10px; padding-bottom:10px; clear:both;}
		.footer p{ margin:0 auto; text-align:left; margin-left:20px;}
		.footer a{ color:#999; }
		.footer a:hover{ color:#ff8810; text-decoration:underline;}
		.lrspace{ margin:auto 10px auto 10px;}
		.l-space{ margin-left:20px;}
        </style>
        <div id="frame_footer" class="footer">
			<p><a href="">使用摆牛前必读</a><span class="lrspace">|</span><a id="feedBack">意见反馈</a></p>
            <p>Copyright &copy; 2015-2016 亚信科技(南京)有限公司 版权所有 <a href="http://www.miitbeian.gov.cn/"  target="_blank">苏ICP备14060935号-4</a></p>
		</div>
		<script type="text/javascript" src="biz/js/webjs/Footer.js"></script>
        
