<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>BaiNiu</title>
		<meta name="description" content="这是一个form页面">
		<meta name="keywords" content="form">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="icon" type="image/png" href="assets/i/favicon.png">
		<link rel="apple-touch-icon-precomposed"
			href="assets/i/app-icon72x72@2x.png">
		<meta name="apple-mobile-web-app-title" content="Amaze UI" />
		<link rel="stylesheet" href="biz/assets/css/amazeui.min.css" />
		<link rel="stylesheet" href="biz/assets/css/admin.css">
	</head>
	<body>
		<header></header>
		<div class="am-cf admin-main">			 
			<div class="admin-content">
				<div class="am-cf am-padding">
					<div class="am-fl am-cf">
						<strong class="am-text-primary am-text-lg">权限申请</strong>
					</div>
				</div>

				<hr style="margin-top:0px;"/>

				<div class="am-g">
					<div class="am-u-sm-12 am-u-md-8">
						<form  class="am-form am-form-horizontal" style="height:350px;">
							 
							<div class="am-form-group" ">
								<label for="user-depart" class="am-u-sm-3 am-form-label" style="padding-top:0px;">
								可申请的权限
								</label>
								<div class="am-u-sm-9" style="padding-top:10px;">
									<select id="right" data-am-selected="{btnSize: 'sm'}">
										 {%#availableRightList%}
										  <option value="{%.RIGHT_CODE%}">
									        {%.RIGHT_NAME%}
								          </option>
										 {%/availableRightList%}
									</select>
								</div>
							</div>
							<div class="am-form-group" ">
							</div>
							<div class="am-form-group" ">
							</div>
							<div class="am-form-group" ">
							</div>
							<div class="am-form-group" ">
							</div>
							<div class="am-form-group" ">
							</div>
							<div class="am-form-group" ">
							</div>
							<div class="am-form-group" ">
							</div><div class="am-form-group" ">
							</div>
							<div class="am-form-group" ">
							</div>
							<div class="am-form-group" ">
							</div>
							<div class="am-form-group">
								<div class="am-u-sm-9 am-u-sm-push-3" style="left:35%;">
									<button id="sub" type="button" class="am-btn am-btn-primary">
									    申请
									</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
			<!-- content end -->
		</div>
		
		<script src="biz/assets/js/jquery.min.js"></script>
		<script src="biz/assets/js/amazeui.min.js"></script>
		<script src="biz/assets/js/app.js"></script>
		<script src="biz/ipu/res/jquery/1.10.2/jquery.js"></script>
	   {%>template/common/Head.html%}
 		<script type="text/javascript" src="biz/js/webjs/Right.js"></script>
	</body>
</html>