<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>BaiNiu</title>
		<meta name="description" content="这是一个form页面">
		<meta name="keywords" content="form">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="icon" type="image/png" href="assets/i/favicon.png">
		<link rel="apple-touch-icon-precomposed"
			href="assets/i/app-icon72x72@2x.png">
		<meta name="apple-mobile-web-app-title" content="Amaze UI" />
		<link rel="stylesheet" href="biz/assets/css/amazeui.min.css" />
		<link rel="stylesheet" href="biz/assets/css/admin.css">
	</head>
	<body>
		{%>template/common/Nav.html%}
		<div class="am-cf admin-main">
			<!-- sidebar start -->
			{%>template/common/Sidebar.html%}
			<!-- sidebar end -->
			<!-- content start -->
			<div class="admin-content">
				<div class="am-cf am-padding">
					<div class="am-fl am-cf">
						<strong class="am-text-primary am-text-lg">员工注册</strong> /
						<small>Personal information</small>
					</div>
				</div>

				<hr />

				<div class="am-g">
					<div class="am-u-sm-12 am-u-md-8">
						<form id="registerForm" class="am-form am-form-horizontal">
							<div class="am-form-group">
								<label for="account-name" class="am-u-sm-3 am-form-label">
									账号
								</label>
								<div class="am-u-sm-9">
									<input type="text" id="account-name" placeholder="账号">
									<small>输入你的名字，让我们记住你。</small>
								</div>
							</div>
							<div class="am-form-group">
								<label for="user-depart" class="am-u-sm-3 am-form-label">
									部门
								</label>
								<div class="am-u-sm-9">
									<select id="org" data-am-selected="{btnSize: 'sm'}">
										<option value="CRM1">
											开发一部
										</option>
										<option value="CRM2">
											开发二部
										</option>
										<option value="TEST">
											测试
										</option>
									</select>
								</div>
							</div>
							<div class="am-form-group">
								<label for="user-password" class="am-u-sm-3 am-form-label">
									密码
								</label>
								<div class="am-u-sm-9">
									<input type="password" id="user-password">
								</div>
							</div>
							<div class="am-form-group">
								<label for="user-password" class="am-u-sm-3 am-form-label">
									密码确认
								</label>
								<div class="am-u-sm-9">
									<input type="password" id="user-password-confirm">
								</div>
							</div>
							<div class="am-form-group">
								<label for="NT-account" class="am-u-sm-3 am-form-label">
									NT账号
								</label>
								<div class="am-u-sm-9">
									<input type="text" id="user-email" placeholder="公司NT账号">
									<small>@asiainfo.com</small>
								</div>
							</div>

							<div class="am-form-group">
								<label for="user-name" class="am-u-sm-3 am-form-label">
									姓名
								</label>
								<div class="am-u-sm-9">
									<input type="text" id="user-name" placeholder="输入你的姓名">
									<small>请填上您华丽的名字~</small>
								</div>
							</div>

							<div class="am-form-group">
								<label for="user-iphone" class="am-u-sm-3 am-form-label">
									电话
								</label>
								<div class="am-u-sm-9">
									<input type="text" id="user-iphone" placeholder="输入你的电话">
								</div>
							</div>




							<div class="am-form-group">
								<div class="am-u-sm-9 am-u-sm-push-3">
									<button id="register" type="button" class="am-btn am-btn-primary">
										注册
									</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
			<!-- content end -->
		</div>
		<script src="biz/assets/js/jquery.min.js"></script>
		<script src="biz/assets/js/amazeui.min.js"></script>
		<script src="biz/assets/js/app.js"></script>
		<script src="biz/ipu/res/jquery/1.10.2/jquery.js"></script>
		{%>template/common/Head.html%}
		<script type="text/javascript" src="biz/js/webjs/User.js"></script>
	</body>
<html>