<!DOCTYPE html>
<html lang="zh-CN">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>摆牛知识库</title>
	<script src="biz/indexCss/js/jquery.js"></script>
	<script src="biz/indexCss/js/placeholder.js"></script>
	<script src="biz/indexCss/js/base.js"></script>
	<script  src="biz/js/webjs/ueditor/ueditor.parse.js"></script>
	<script type="text/javascript">
		uParse(".excp_desc_con", {
    		rootPath: "biz/js/webjs/ueditor"
		});
				uParse(".sug_con", {
    		rootPath: "biz/js/webjs/ueditor"
		});
				uParse(".excp_reason_con", {
    		rootPath: "biz/js/webjs/ueditor"
		});
	</script>
	<link href="biz/indexCss/css/common.css" rel="stylesheet" />
	</head>
	<body>

		<div class="bn_main items_desc">
			<div class="main_col">
				<div class="main_wrap clear">
					<div class="header">
						<div class="bn_version" id="headLogo" style="cursor:pointer">
							<b>BaiNiu</b><i>摆牛知识库 V1.0</i>
						</div>
						<div class="form_wrapper">
							<div class="main_sh_form">
								<div class="sel_ipt">
									<span class="choose_list" id="sysDomain">{%.CHOOSE_TYPE%}</span><b></b>
									<div class="choose_pop">
										<ul>
											<li>
												<a href="javascript:void(0)">所有类别</a>
											</li>
											{%#TYPE_LIST%}
											<li>
												<a href="javascript:void(0)">{%.ENUM_CODE%}</a>
											</li>
											{%/TYPE_LIST%}
										</ul>
									</div>
								</div>
								<span class="sh_ipt"> <input type="text"
										value="{%.KEY_WORD%}" name="" id="keyWord" placeholder="" />
									<div class="async_area">
										<ul>
											<li>
											</li>
											<li>
											</li>
											<li>
											</li>
											<li>
											</li>
											<li>
											</li>
											<li>
											</li>
										</ul>
									</div> </span>
								<span class="bn_btn sh_sub" id="qry"></span>
							</div>
						</div>

						<ol>
							<li>
								{%^NAME%}
								<a id="loginLink">登录</a> {%/NAME%} {%#NAME%}
								<a id="goToMangerlink">欢迎[{%.%}]</a> {%/NAME%}
							</li>
							<li>
								<a href="">开启全屏</a>
							</li>
							<!-- 展示无用 -->
							<!-- 
            <li><a href="">开启全屏</a></li>
            <li class="admin_ipt"><a href="javascript:;">管理员录入</a><i></i>
                <dl>
                    <dd><a href="javascript:;">列表11111</a></dd>
                    <dd><a href="javascript:;">列表22222</a></dd>
                    <dd><a href="javascript:;">列表33333</a></dd>
                </dl>
            </li>
            <li><a href="">收件箱</a></li>
             -->
						</ol>

					</div>

					<div class="article clear" >

						<ul>
							{%#ERRDTL%}
							<li>
								<div class="article_block clear">
									<span  class="article_tit">{%.EX_ABSTRACT%}</span><span
										class="{%.B_TYPE_CLASS%}">{%.B_TYPE_NAME%}</span>
								</div>
								<div class="article_details">
									<a>录入人：{%.INS_USER_NAME%}</a>
									<a>审核人：{%.DEAL_USER_NAME%}</a>
									<a>审核日期：{%.DEAL_TIME%}</a>
								</div>
								<div class="articel_con">
									<dl>
										<dd>
											<h2 class="excp_desc_tit">
												异常描述
											</h2>
											<div class="excp_desc_con">
												{%&EX_DESC%}
											</div>
										</dd>
										<dd>
											<h2 class="excp_reason_tit">
												异常原因
											</h2>
											<div class="excp_reason_con">
												{%&EX_REASON%}
											</div>
										</dd>
										<dd>
											<h2 class="sug_tit">
												处理建议
											</h2>
											<div class="sug_con">
												{%&EX_SOLUTION%}
											</div>
											
										</dd>

									</dl>

								</div>
							</li>
							<!-- 多说评论框 start -->
							<div class="ds-thread" data-thread-key="{%.EX_ID%}"
								data-title="{%.EX_ABSTRACT%}" data-url="www.bainiu6.com"></div>
							<!-- 多说评论框 end -->
							<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
							<script type="text/javascript">
var duoshuoQuery = {short_name:"bainiu6"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
							<!-- 多说公共JS代码 end -->

							{%/ERRDTL%}
						</ul>
					</div>
				</div>
			</div>


		</div>

		{%>template/common/Head.html%}
		<script type="text/javascript" src="biz/js/webjs/Main.js"></script>
		{%>template/common/Footer.html%}
        
	</body>
</html>