<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>BaiNiu</title>
		<meta name="description" content="这是一个form页面">
		<meta name="keywords" content="form">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="icon" type="image/png" href="assets/i/favicon.png">
		<link rel="apple-touch-icon-precomposed"
			href="assets/i/app-icon72x72@2x.png">
		<meta name="apple-mobile-web-app-title" content="Amaze UI" />
		<link rel="stylesheet" href="biz/assets/css/amazeui.min.css" />
		<link rel="stylesheet" href="biz/assets/css/admin.css">
	</head>
	<body>
	{%>template/common/Nav.html%}
		{%#ERRDTL%}
		<div class="am-cf admin-main">
			<!-- content start -->
			<div class="admin-content">
			
				<div class="am-cf am-padding">
					<div class="am-fl am-cf">
						<strong class="am-text-primary am-text-lg">错误明细页面</strong> /
						<small>EX_ID:{%.EX_ID%}</small>
					</div>
				</div>

				<hr />

				<div class="am-g">
					<div class="am-u-sm-12 am-u-sm-centered">
						<h2>
							异常描述：
						</h2>
						<p>
							{%.EX_DESC%}
						</p>
						<hr />
					</div>

					<div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
						<h3>
						 异常原因：
						</h3>
						<p>
							{%.EX_REASON%}
						</p>
						<h3>
						 处理建议：
						</h3>
						<p>
							{%.EX_SOLUTION%}
						</p>
					</div>
				</div>
			</div>
			<!-- content end -->
		</div>
		{%/ERRDTL%}

		<script src="biz/assets/js/jquery.min.js"></script>
		<script src="biz/assets/js/amazeui.min.js"></script>
		<script src="biz/assets/js/app.js"></script>
		<script src="biz/ipu/res/jquery/1.10.2/jquery.js"></script>
		{%>template/common/Head.html%}
		<script type="text/javascript" src="biz/js/BainiuIndex.js"></script>
	</body>
<html>